body{
    background-color: #171447;
}

header{
    position: relative;
    text-align: center;
    font-size: xx-large;
    color: whitesmoke;
    height: 10%;
}

div.selection{
    font-size: large;
}

div.map-chart{
    /*border:1px solid steelblue;*/
    background-color: whitesmoke;
    border: 1px solid #171447;
    border-radius: 5px;
    height: 56%;
    width: 50%;
    position: absolute;
    top: 8%;
    left: 1%;
}
div.bar-chart{
    /*border:1px solid steelblue;*/
    background-color: whitesmoke;
    border: 1px solid #dadafc;
    border-radius: 5px;
    width: 47%;
    height: 47%;
    position: absolute;
    top: 8%;
    left: 52%;
}

/* div.selection{
    margin-left: 71% ;
    top: 10%;
    position: absolute;
    width: 25%;
    height: 5%;
}

.selection select{
    background-color: #6c757d;
    text-emphasis-color: #dee2e6;
    width: 25%;
} */

.selection button{
    background-color: #6c757d;
    text-emphasis-color: #dee2e6;
}


div.line-chart{
    /*border:1px solid steelblue;*/
    background-color: whitesmoke;
    border: 1px solid #e7e7e7;
    border-radius: 5px;
    width: 50%;
    height: 33%;
    position: absolute;
    top: 66%;
    left: 1%;
}
div.pie-chart{
    /*border:1px solid steelblue;*/
    text-align: center;
    background-color: whitesmoke;
    border: 1px solid #e7e7e7;
    border-radius: 5px;
    width: 47%;
    height: 42%;
    position: absolute;
    top: 57%;
    left: 52%;
}

h3{
    text-align: center;
    position: relative;
}

.names {
    fill: none;
    stroke: #fff;
    stroke-linejoin: round;
}
    
/* Tooltip CSS */
.d3-tip {
    line-height: 1.5;
    font-weight: 400;
    font-family:"avenir next", Arial, sans-serif;
    padding: 6px;
    background: rgba(0, 0, 0, 0.6);
    color: #FFA500;
    border-radius: 1px;
    pointer-events: none;
}

/* Creates a small triangle extender for the tooltip */
.d3-tip:after {      
    box-sizing: border-box;
    display: inline;
    font-size: 8px;
    width: 100%;
    line-height: 1.5;
    color: rgba(0, 0, 0, 0.6);
    position: absolute;
    pointer-events: none;
}

/* Northward tooltips */
.d3-tip.n:after {
    content: "\25BC";
    margin: -1px 0 0 0;
    top: 100%;
    left: 0;
    text-align: center;
}

/* Eastward tooltips */
.d3-tip.e:after {
    content: "\25C0";
    margin: -4px 0 0 0;
    top: 50%;
    left: -8px;
}

/* Southward tooltips */
.d3-tip.s:after {
    content: "\25B2";
    margin: 0 0 1px 0;
    top: -8px;
    left: 0;
    text-align: center;
}

/* Westward tooltips */
.d3-tip.w:after {
    content: "\25B6";
    margin: -4px 0 0 -1px;
    top: 50%;
    left: 100%;
}

/*    text{
pointer-events:none;
}*/

.details{
    color:white;
}


.tooltip {
    position: absolute;
    width: 80px;
    background: #eee;
    color: #333;
    display: none;
    font-size: 12px;
    text-align: center;
}

rect {
    cursor: pointer;
    stroke-width: 2;
}

rect.disabled {
    fill: transparent !important;
}

legend {
    font-size: 18px;
}

rect {
    stroke-width: 2;
}

.barScree {
    fill: steelblue;
}

.line {
    fill: None;
    stroke: rgb(11, 134, 235);
    stroke-width: 2;
}

.dot {
    fill: rgb(10, 55, 92);
    stroke: #fff;
}

.elbowbar {
    fill: darkred;
}