<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
	<meta charset="UTF-8">
	<script src="../static/index.js"></script>
	<script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.4.1.min.js"></script>
	<link rel="stylesheet" href="../static/main.css">
	<title>Crop Visual Analytics</title>
</head>

<body>
	<header class="header">
			<div>
				<b>CROP VISUAL ANALYTICS</b>
				<div class="selection" onclick="screeplot()" style="float: right;">
					SOIL DATA PCA
				</div>
			</div>
	</header>

	<div class="map-chart" id="map-chart">
		<h3>TOTAL CROP PRODUCTION PER COUNTRY</h3>
	</div>
	<div class="bar-chart" id="bar-chart">
		<h3 id = "pca-title">TOP 10 PRODUCERS OF CROP</h3>
	</div>
	<div class="line-chart" id="line-chart">
		<h3>CROP PRODUCTION BY YEAR</h3>
	</div>
	<div class="pie-chart" id="pie-chart">
		<h3>CROP PRODUCTION BY CONTINENT</h3>
	</div>
	<script src="https://d3js.org/d3.v4.min.js"></script>
	<script src="https://d3js.org/queue.v1.min.js"></script>
	<script src="https://d3js.org/topojson.v1.min.js"></script>
	<script src="../static/d3-tip.js"></script>
	<script src="../static/maps.js"></script>
	<script src="../static/lines.js"></script>
	<script src="../static/barchart.js"></script>
	<script src="../static/piechart.js"></script>
    <script src="../static/screeplot.js"></script>
</body>

</html>