<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
	<meta charset="UTF-8">
    <script src="../static/index.js"></script>
	<script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.4.1.min.js"></script>
	<link rel="stylesheet" href="../static/main.css">
	<title>Crop Visual Analytics</title>
</head>
<body>
	<header class = "header">
	<h2>Crop Visual Analytics</h2>
	<div class = "selection">
		<label for = "crop-selector">Select crop: </label>
		<select class = "crop-selector" id = "crop-selector" onchange="updateGraphs()">
{#			<option value = "Wheat">Wheat</option>#}
{#			<option value = "Paddy/Rice">Paddy/Rice</option>#}
{#			<option value = "Millet">Millet</option>#}
{#			<option value = "Pulses">Pulses</option>#}
{#			<option value = "Maize">Maize</option>#}
		</select>
	</div>	
	</header>
	
	<div class = "map-chart" id = "map-chart">
		<h3>Total crop yield for country</h3>

	</div>
	<div class = "bar-chart" id = "bar-chart">
		<h3>Top 20 producers of crop</h3>

	</div>
	<div class = "line-chart" id = "line-chart">
		<h3>Crop production by year</h3>

	</div>
	<div class = "pie-chart" id = "pie-chart">
		<h3>Production of crop by continent</h3>

	</div>
	<script src="https://d3js.org/d3.v4.min.js"></script>
	<script src="https://d3js.org/queue.v1.min.js"></script>
	<script src="https://d3js.org/topojson.v1.min.js"></script>
	<script src="../static/d3-tip.js"></script>
	<script src="../static/maps.js"></script>
	<script src="../static/lines.js"></script>
	<script src="../static/barchart.js"></script>
    <script src="../static/piechart.js"></script>
</body>
</html>